*{
    padding: 0;
    margin:0;
    box-sizing:border-box;
}
nav{
    text-align: right;
    background-color: #7c3aed;
}
 nav a{
    text-decoration: none;
    background-color: #7c3aed;
    color: white;
    padding:0 0.5rem;
    font-size: x-large;

}
header{
    background-color: #7c3aed;
    padding: 2rem;
}
header h1{
   font-family:  "Megrim", cursive;
   background-color: #7c3aed; 
}
input{
    background-color:white;
    min-height: 2rem;
    margin:2rem auto;
}

main{
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size:x-large;
    margin:0 0 7rem
}
main h1{
    margin-top:2rem;
    margin-bottom: 1rem;
}
h2{
    margin-bottom: 1rem;
    font-size: larger;
}
h3{
    margin-bottom:1rem;
    font-size: large;
}
button{
    padding:0.5rem;
    border: none;
    background-color: #7c3aed;
    color: white;
    border-radius: 0.5rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;;
    font-size:large;
}
#output{
    padding-bottom: 1rem;
}
.quiz-main {
    margin: 2rem auto;
    width: 90%;
    text-align: center;
  }

.question-container{
padding:1rem 0;
margin:1rem auto;
width:none;
}
footer {
    text-align: center;
  }
  footer p{
    text-align: center;
    font-size: x-large;
    margin-bottom: 0;
  }
img{
    width:40px;
}
a,
img,
li {
  display: inline;
  padding: 0.2rem;
}

